{% extends 'layout.html' %}
{#include main css file#}
{% block css %}
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
{% endblock %}
{#block main content#}
{% block content %}
    <div class="home-title-container">
        <h1>{{ title }}</h1>
        <p>Redirecting to home page in: <span id="timer-information"></span></p>
    </div>
{% endblock %}
{# include javascript for additional functionality #}
{% block js %}
    <script
        type="text/javascript"
        src="{{ url_for('static', filename='js/redirectHome.js') }}"
    ></script>
{% endblock %}