{% extends 'layout.html' %}
{#include main css file#}
{% block css %}
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
{% endblock %}
{#block main content#}
{% block content %}
    <div class="home-title-container">
        <h1>{{ title }}</h1>
    </div>
    <div class="container">
        <form
            class="form"
            action="/update-password"
            method="POST"
        >
            <div>
                <fieldset class="username-password-field">
                    <legend>Password Details</legend>
                    <label for="password">New Password</label>
                    <input type="password" id="password" name="password" class="required-input" placeholder="new password" required="true">
                    <br>
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" id="confirm-password" name="confirm-password" class="required-input" placeholder="confirm new password" required="true">
                    <br>
                    <span id="password-message"></span>
                    <br>
                    <input type="submit" id="change-password-btn" value="Change Password">
                </fieldset>
            </div>
        </form>
    </div>
{% endblock %}
{# include javascript for update form #}
{% block js %}
    <script
        type="text/javascript"
        src="{{ url_for('static', filename='js/updatePassword.js') }}"
    ></script>
{% endblock %}